name: Packaging

on:
  push:
    tags:
      - "v*"

jobs:
  linux-build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"
          architecture: "x64"
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Create Linux Executable
        shell: bash
        run: python package.py
      - name: Zip Executable
        shell: bash
        run: zip -yr bsw-x86_64.zip dist/*
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: bsw-x86_64.zip
